<section id="app-portfolio" class="portfolio-mf sect-pt4 route">

  </section>

<div class="container mt-5">
    <h1 class="title-a text-center">Projetos</h1>
    <div class="line-mf"></div>
    <div class="row mt-5">         
            <div class="col-md-4 mb-4">
                <div class="work-box">
                  <a href="assets/images/work-1.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                      <img src="assets/images/work-1.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2 class="w-title">Em construção</h2>
                          <div class="w-more">
                            <span class="w-ctegory">Em construção</span> / <span class="w-date">Em construção</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <div class="work-box">
                  <a href="assets/images/work-2.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                      <img src="assets/images/work-2.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2 class="w-title">Em construção</h2>
                          <div class="w-more">
                            <span class="w-ctegory">Em construção</span> / <span class="w-date">Em construção</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <div class="work-box">
                  <a href="assets/images/work-3.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                      <img src="assets/images/work-3.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2 class="w-title">Em construção</h2>
                          <div class="w-more">
                            <span class="w-ctegory">Em construção</span> / <span class="w-date">Em construção</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <div class="work-box">
                  <a href="assets/images/work-4.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                      <img src="assets/images/work-4.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2 class="w-title">Em construção</h2>
                          <div class="w-more">
                            <span class="w-ctegory">Em construção</span> / <span class="w-date">Em construção</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <div class="work-box">
                  <a href="assets/images/work-5.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                      <img src="assets/images/work-5.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2 class="w-title">Em construção</h2>
                          <div class="w-more">
                            <span class="w-ctegory">Em construção</span> / <span class="w-date">Em construção</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4 mb-4">
                <div class="work-box">
                  <a href="assets/images/work-6.jpg" data-lightbox="gallery-mf">
                    <div class="work-img">
                      <img src="assets/images/work-6.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="work-content">
                      <div class="row">
                        <div class="col-sm-8">
                          <h2 class="w-title">Em construção</h2>
                          <div class="w-more">
                            <span class="w-ctegory">Em construção</span> / <span class="w-date">Em construção</span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="w-like">
                            <span class="ion-ios-plus-outline"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>              
            </div>
          </div>