@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

body {
    background-color: #fff;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #1e1e1e;
  }
  
  .p-r {
    position: relative;
  }
  
  .bg-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
  }
  